<nav class="navbar">
    <a href="<?= $BASE_URL ?>calendar.php"><button class="btn">Agenda</button></a>
    
    <!-- <a href="<?= $BASE_URL ?>index.php"><button class="btn">Página Inicial</button></a>-->
    
    <header class="text-center mb-4">
        <h1 class="display-4 color-name">Physiocorp</h1>
    </header>

    <!--<a href="<?= $BASE_URL ?>paciCadastrados.php"><button class="btn">Pacientes Avaliados</button></a>-->

    <a href="<?= $BASE_URL ?>cadastro.php"><button class="btn">Nova Ficha de Avaliação</button></a>
</nav>
